<div class="d-flex p-3 container-sm login-container rounded-4 row">
    <div class="col d-none d-sm-none d-md-block">
        <div class="d-flex justify-content-center">
            <img class="image-container mx-auto" src="../../assets/clock.png" alt="">
        </div>
    </div>
    <div class="col m-3 login-form">
        <div class="form">
            <div class="mb-3">
                <label for="" class="form-label">Логин</label>
                <input type="text" class="form-control" name="" placeholder="Введите логин"/>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Пароль</label>
                <input type="password" class="form-control" name="" placeholder="Введите пароль"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Войти</button> 
                <a routerLink="/signup" class="btn btn-success btn-register">Регистрация</a>
            </div>
        </div>
        
    </div>
</div>